<!DOCTYPE html>
<html>
<head>
    <title>Login | Disease Prediction System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>

<div class="auth-container">

    
    <div class="auth-left">
        <h1>Disease Prediction System</h1>
        <p>AI-Powered Medical Diagnosis Assistance Platform</p>
        <ul>
            <li>✔ Secure Authentication</li>
            <li>✔ Smart AI Predictions</li>
            <li>✔ Medical Record History</li>
        </ul>
    </div>

    
    <div class="auth-right">
        <div class="form-card">
            <h6 class="logo1">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="MedAI Logo">
            </h6>
            <h2>Welcome Back</h2>
            <p class="subtitle">Login to continue</p>

            
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <form method="POST">
                <div class="input-group">
                    <label>Username</label>
                    <input type="text" name="username" required>
                </div>

                <div class="input-group">
                    <label>Password</label>
                    <input type="password" name="password" required>
                </div>

                <button type="submit">Login</button>
            </form>

            <p class="switch-text">
                Don’t have an account?
                <a href="/register">Create Account</a>
            </p>
        </div>
    </div>

</div>

</body>
</html>